@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Kiwi Maru", serif;
}

body,
html {
    height: 100%;
    margin: 0;
}

#bg {
    background: url("dictionary.jpg") center center/cover no-repeat fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

code {
    background: #d0d0d5;
}

.container {
    display: flex;
    flex-direction: column;
}

.form-container {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 20px;
}

#user-stories {
    font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
    font-size: 1.1em;
}

#output-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

#solution-container {
    font-weight: bold;
    color: white;
}

#solution-container {
    margin-left: 20px;
}

#translated-sentence {
    margin-top: 10px;
    font-weight: normal;
}

#error-msg {
    font-weight: normal;
    color: red;
}

.highlight {
    color: lightgreen;
}

#text-input {
    padding: 10px;
}

select {
    padding: 5px;
}

input[type="button"] {
    margin-left: 10px;
    background-color: #764abc;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    color: white;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover {
    background-color: #643fa0;
}

footer {
    text-align: center;
    color: white;
    margin: 40px 0 10px 0;
}

footer a {
    text-decoration: none;
    color: lightgray;
}
footer a:hover {
    color: rgb(190, 190, 190);
}

@media (min-width: 992px) {
    #wrapper {
        width: 992px;
    }
    .container {
        flex-direction: row;
    }

    .form-container {
        align-self: flex-end;
        flex: 1;
    }

    #output-container {
        flex-direction: row;
        margin-top: 0;
        margin-left: 20px;
        flex: 1;
    }

    #solution-container {
        width: 75%;
        margin-top: 0;
    }
}
